<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="mt-5">Date_arrival: <strong th:text="${#dates.format(booking.getDate_arrival(), 'yyyy-MM-dd')}" ></strong> Date_departure: <strong th:text="${#dates.format(booking.getDate_departure(), 'yyyy-MM-dd')}" ></strong></h2>
    <h2 class="mt-5">Count: <strong th:text="${booking.getCount_people()}" ></strong></h2>
</div>
<div class="col-md-7 col-lg-8">
    <div class="tableTariffs">
    <form method="post"  th:object="${booking}" align="center" class="needs-validation">
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="fullname" class="from-label">Enter name:</label>
                <input type="text" class="form-control" id="fullname" name="name" placeholder="" value="" required="">
            </div>
        <hr class="my-4">
        <div class="form-group row">
            <div class="col-md-4 mt-5">
                <label for="phone">Enter phone number:</label>
                <input type="text" class="form-control" id="phone" name="phone_number" placeholder="" value="" required=""/>
            </div>
        </div>
        <button class="btn btn-secondary" type="submit">Booking</button>
        </div>
    </form>
    </div>
</div>
</body>
</html>