<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="text-muled">
        <!--contacts section-->
        <div class="contacts">
            <h3 class="sidebar-title"> Contacts</h3>
            <div>
                <span class="contact-type">C:</span>
                <a href="tel:+380 97 13 372 11" class="contact-link">+380 97 13 372 11</a>
            </div>
            <div>
                <span class="contact-type">E:</span>
                <a href="mailto:dnkrupkoo@gmail.com"class="contact-link"> dnkrupkoo@gmail.com</a>
            </div>
        </div>
    </footer>
</div>